<%- include('partials/header') %>

<main>
  <main>
    <div class="wraper">
      <h1>Your secrets</h1>

      <%if(secrets.length ===0 ){%>
      <span>You have no secrets!</span>
      <% } %> <% secrets.forEach(function(secret){ %>

      <p><%= secret.secret %></p>

      <% }) %>
      <a type="button" href="/submit">Submit a secret</a>
    </div>
  </main>
</main>

<%- include('partials/footer') %>
